# Nuxt
.nuxt
.output
.env
.env.*
!.env.example

# Dependencies
node_modules
pnpm-lock.yaml

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Claude local files
.claude/settings.local.json
CLAUDE.local.md
todos/latest-todos.json
todos/latest-todos.md

# MCP
.mcp.json

# Build artifacts
dist
